/*google font roboto & Open Sans*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;900&display=swap");
h1 {
  font-size: 60px !important;
  line-height: 60px !important;
  font-weight: 900 !important;
}
.description p {
  font-size: 18px;
  font-weight: 900;
}
body {
  background: url("assets/bg-intro-desktop.png") rgba(255, 121, 120, 1) !important;
  color: white !important;
  font-family: "Roboto", sans-serif !important;
}
.trail {
  background-color: rgba(93, 84, 163, 1);
  border-radius: 10px;
  padding: 20px;
}
Form {
  background-color: white;
  border-radius: 15px;
  padding: 40px;
}
.btn {
  background-color: rgba(55, 204, 138, 1) !important;
  padding: 20px !important;
}
.form-control {
  padding: 20px !important;
}
.invalid-feedback {
  font-weight: 900;
  text-align: right !important;
}
